.app-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  direction: rtl;
  font-family: Arial, sans-serif;
  border: 1px solid #1900ff;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

form input {
  flex: 1;
  padding: 8px;
}

.filters-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.active {
  font-weight: bold;
  background-color: #0015ff;
}

ul {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.view-container, .edit-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}